.dropdown {
  min-width: 140px;
  top: 55px;
  z-index: 1;
  padding: 7px;
  text-align: right;
}


@media (max-width: 600px) {
  .hidden-mobile {
    display: none;
  }
}
@media (min-width: 600px) {
  .hidden-web {
    display: none !important;
  }
}